*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}
body{

    width:100%;

    height:100vh;

    background: linear-gradient(
180deg,
#9fd8ff 0%,
#bde9ff 45%,
#dff5ff 100%);
);

    overflow:hidden;

}
.sky{

    width:100%;

    height:100%;

    position:relative;

}

.cloud{

    position:absolute;

    background:white;

    border-radius:100px;

    box-shadow:0 8px 25px rgba(255,255,255,.35);

    opacity:.92;

    filter:blur(.3px);
}

.cloud span{

    position:absolute;

    background:white;

    border-radius:50%;

}

.cloud span:nth-child(1){

    width:60px;

    height:60px;

    left:20px;

    top:-25px;

}

.cloud span:nth-child(2){

    width:75px;

    height:75px;

    left:70px;

    top:-35px;

}

.cloud span:nth-child(3){

    width:55px;

    height:55px;

    left:130px;

    top:-18px;

}

.butterfly{

    animation:float 12s ease-in-out infinite;

}

.wing-left{

    animation:flap .8s ease-in-out infinite;

}

.wing-right{

    animation:flap .8s ease-in-out infinite reverse;

}
